.navbar_list {
    list-style-type: none;
}

.navbar_list li {
    cursor: pointer;
    color: #222222;
}

.navbar_list li:hover {
    color: #daa520;
}

.navbar_list li:last-child {
    text-transform: uppercase;
    border: 1px solid #000;
    padding: 10px 35px;
    border-radius: 10px;
    transition: ease 0.5s all;
}

.navbar_list li:last-child:hover {
    background-color: #daa520;
    color: #fff;
    border: 1px solid #daa520;
}
.navbar_logo img{
    height: 200px;
    width: 300px;
}
